<!DOCTYPE html>
<html>
<head>
<meta name=viewport content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<style>body{cursor:none;font-family:sans-serif;overflow:hidden;margin:0;height:100vh;width:100vw}</style>
</head>
<body id=main>
<div>
<h3 style=position:absolute;top:-10px;right:110px;font-size:23pt;width:30px;z-index:3>charging station</h3>
<img id=charge_level src=battery-status-5.png style=position:fixed;right:24px;top:170px;transform:scale(2.6,2.3);z-index:3 width=100>
</div>
<img id=source src=aero_arrow_crack_10.svg width=32 height=32 style=z-index:5;position:absolute;transform:scale(0.632,0.62)>
<button id="btn" style="position:fixed;top:0;left:0;width:150px;height:60px;background: #33ff33
;font-size:14pt;z-index:2">buy clicks</button>
<script type=application/javascript src=client.js defer></script>
<canvas style=background-color:#fff;position:relative;width:100%;height:100%></canvas>
<div style=position:fixed;bottom:0;transform:scale(0.9)>Icons made by <a href=https://www.freepik.com title=Freepik>Freepik</a> from <a href=https://www.flaticon.com/ title=Flaticon>www.flaticon.com</a></div>
<div style=position:fixed;bottom:0;right:2px;transform:scale(0.9)>
<a href=https://www.reddit.com/r/badUIbattles/comments/pne1cm/mouse_cursor_with_limited_clicks_needs_to_be/>badUIbattles post</a>
</div>
</body>
</html>